<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Overskrift</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum odit, quas deleniti quia nam ab repellendus eaque quidem possimus reprehenderit, suscipit ullam unde, recusandae officiis quibusdam explicabo qui molestias quasi.</p>
</body>
</html>